@media screen and (min-width: 320px){

    header>a>img,
    img {
        transition: 2ms;
        width: 70%;
        height: 120%;
    }

    header>div>a {
        color: #ffffff;
        text-decoration: solid;
        font-weight: 800;
        font-size: 0.8em;
    }

    .apresentacao {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .apresentacao>div {
        margin: auto;
    }

    .apresentacao>div {
        width: 225px
    }

    .texto-apresentacao h1 {
        width: 100%;
        color: #99BF8F;
        font-size: 33px;
        font-style: normal;
        line-height: normal;
        text-align: left;
    }

    .texto-apresentacao h2 {
        width: 100%;
        text-align: left;
        font-size: 20px;
    }

    .texto-apresentacao a div {
        width: 90%;
        margin-bottom: 50px;
    }

    .texto-apresentacao a div p {
        font-size: 0.8em;
    }

    .fotos {
        position: inherit;
    }

    .fotos div {
        display: block;
        margin-top: 0;
        width: 100%;
    }

    .fotos div img {
        width: 100%;
    }

    .fotos div h3 {
        text-align: center;
    }

    .titulo-renovavel {
        margin-left: 8px;
    }


    .zap {
        position: fixed;
        display: inline-block;
        bottom: 100px;
        right: 15px;
    }

    .conteudo-sessao-2 {
        height: auto;
        margin: 0;
        padding: 0;
    }

    .conteudo-sessao-2>div {
        margin: 0 auto;
    }

    .conteudo-sessao-2>div>div {
        padding: 0;
        display: block;
    }

    .conteudo-sessao-2>div>div>img {
        width: 150px;
        border-radius: 30px;
        margin-top: 10px;
        margin-left: 15px;
    }

    .conteudo-sessao-2>div>div>div {
        width: 170px;
    }

    .conteudo-sessao-2>div>div>div>h4 {
        font-size: 1em;
        margin-top: 5px;
    }

    .conteudo-sessao-2>div>div>div>p {
        font-size: 0.8em;
        margin-top: 5px;
    }

    footer {
        font-size: 0.5em;
    }

    footer p {
        padding: 0 30px;
    }
}